xsd/adresvseti.framework.dbschema.xsd

<?xml version="1.0" encoding="utf-8" ?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="schema">
    <xsd:complexType>
      <xsd:all>

        <xsd:element name="tables">
          <xsd:complexType>
            <xsd:choice>

              <xsd:element name="table" maxOccurs="unbounded">
                <xsd:complexType>

                  <xsd:all>

                    <xsd:element name="columns">
                      <xsd:complexType>
                        <xsd:choice>

                          <xsd:element name="column" maxOccurs="unbounded">
                            <xsd:complexType>

                              <xsd:choice>

                                <xsd:element name="enum" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>

                              </xsd:choice>
                              
                              <xsd:attribute name="name" type="xsd:string" use="required"/>
                              
                              <xsd:attribute name="type" use="required">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="BOOL"/>
                                    <xsd:enumeration value="CHAR"/>
                                    <xsd:enumeration value="DATE"/>
                                    <xsd:enumeration value="DATETIME"/>
                                    <xsd:enumeration value="DECIMAL"/>
                                    <xsd:enumeration value="INT"/>
                                    <xsd:enumeration value="TEXT"/>
                                    <xsd:enumeration value="BLOB"/>
                                    <xsd:enumeration value="TIME"/>
                                    <xsd:enumeration value="TIMESTAMP"/>
                                    <xsd:enumeration value="VARCHAR"/>
                                    <xsd:enumeration value="ENUM"/>
                                    <xsd:enumeration value="PATH"/>
                                    <xsd:enumeration value="EMAIL"/>
                                    <xsd:enumeration value="DIR"/>
                                    <xsd:enumeration value="URI"/>
                                    <xsd:enumeration value="HTML"/>
                                    <xsd:enumeration value="HTMLTEXT"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:attribute>

                              <xsd:attribute name="length" type="xsd:positiveInteger" use="optional"/>

                              <xsd:attribute name="mantissaLength" type="xsd:positiveInteger" use="optional"/>

                              <xsd:attribute name="unsigned" type="xsd:boolean" use="optional"/>

                              <xsd:attribute name="zerofill" type="xsd:boolean" use="optional"/>

                              <xsd:attribute name="binary" type="xsd:boolean" use="optional"/>
                              
                              <xsd:attribute name="null" type="xsd:boolean" use="optional" default="false"/>
                              
                              <xsd:attribute name="autoIncrement" type="xsd:boolean" use="optional"/>

                              <xsd:attribute name="default" type="xsd:string" use="optional"/>

                              <xsd:attribute name="defaultIsLangStructure" type="xsd:string" use="optional"/>
                              
                            </xsd:complexType>
                          </xsd:element>
                          
                        </xsd:choice>
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="indices">
                      <xsd:complexType>
                        <xsd:choice>

                          <xsd:element name="index" maxOccurs="unbounded">
                            <xsd:complexType>

                              <xsd:all>

                                <xsd:element name="columns">
                                  <xsd:complexType>
                                    <xsd:choice>

                                      <xsd:element name="column" maxOccurs="unbounded">
                                        <xsd:complexType>

                                        	<xsd:simpleContent>
                                        		<xsd:extension
                                        			base='xsd:string'>
                                        			<xsd:attribute
                                        				name="length"
                                        				type="xsd:positiveInteger"
                                        				use="optional" />
                                        		</xsd:extension>
                                        	</xsd:simpleContent>

                                        </xsd:complexType>
                                      </xsd:element>
                                      
                                    </xsd:choice>
                                  </xsd:complexType>
                                </xsd:element>
                                
                              </xsd:all>
                              
                              <xsd:attribute name="name" type="xsd:string" use="required"/>

                              <xsd:attribute name="kind" use="required">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="INDEX"/>
                                    <xsd:enumeration value="PRIMARY"/>
                                    <xsd:enumeration value="UNIQUE"/>
                                    <xsd:enumeration value="FULLTEXT"/>
                                    <xsd:enumeration value="SPATIAL"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:attribute>

                              <xsd:attribute name="type" use="required">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="DEFAULT"/>
                                    <xsd:enumeration value="BTREE"/>
                                    <xsd:enumeration value="HASH"/>
                                    <xsd:enumeration value="RTREE"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:attribute>
                              
                            </xsd:complexType>
                          </xsd:element>
                          
                        </xsd:choice>
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="foreignKeys" minOccurs="0">
                      <xsd:complexType>
                        <xsd:choice>

                          <xsd:element name="foreignKey" maxOccurs="unbounded">
                            <xsd:complexType>

                              <xsd:all>

                                <xsd:element name="columns">
                                  <xsd:complexType>
                                    <xsd:choice>

                                      <xsd:element name="column" maxOccurs="unbounded" type="xsd:string"/>

                                    </xsd:choice>
                                  </xsd:complexType>
                                </xsd:element>

                                <xsd:element name="refColumns">
                                  <xsd:complexType>
                                    <xsd:choice>

                                      <xsd:element name="column" maxOccurs="unbounded" type="xsd:string"/>

                                    </xsd:choice>
                                  </xsd:complexType>
                                </xsd:element>

                              </xsd:all>                              
                              
                              <xsd:attribute name="name" type="xsd:string" use="required"/>

                              <xsd:attribute name="refTable" type="xsd:string" use="required"/>

                              <xsd:attribute name="onDelete" use="optional" default="RESTRICT">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="NO ACTION"/>
                                    <xsd:enumeration value="CASCADE"/>
                                    <xsd:enumeration value="SET NULL"/>
                                    <xsd:enumeration value="RESTRICT"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:attribute>

                              <xsd:attribute name="onUpdate" use="optional" default="CASCADE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="NO ACTION"/>
                                    <xsd:enumeration value="CASCADE"/>
                                    <xsd:enumeration value="SET NULL"/>
                                    <xsd:enumeration value="RESTRICT"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:attribute>                              
                              
                            </xsd:complexType>
                          </xsd:element>
                          
                        </xsd:choice>
                      </xsd:complexType>
                    </xsd:element>
                    
                  </xsd:all>

                  <xsd:attribute name="name" type="xsd:string" use="required"/>

                  <xsd:attribute name="engine" type="xsd:string" use="optional"/>

                  <xsd:attribute name="incrementStart" type="xsd:positiveInteger" use="optional" default="1"/>

                  <xsd:attribute name="charset" type="xsd:string" use="optional"/>
                  
                  <xsd:attribute name="collation" type="xsd:string" use="optional"/>

                </xsd:complexType>   
              </xsd:element>

            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
